.about {
    padding: 0 2rem;
    max-width: 1140px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 4rem auto;
    gap: 3rem;
}

.about-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
    grid-auto-rows: 1fr;
    width: 100%;
    max-width: 100%;
}



.about-img>img {
    object-fit: cover;
}

.about-img>*:nth-child(1) {
    width: 100%;
    height: 28rem;
    grid-row: 1/3;
}

.about-img>*:nth-child(2) {
    width: 100%;
    height: 16rem;
    grid-column: 2/4;
}

.about-img>*:nth-child(3) {
    width: 100%;
    height: 11.5rem;
    grid-column: 2/3;
}

.about-img>*:nth-child(4) {
    width: 100%;
    height: 11.5rem;
    grid-column: 3/4;
}

.about-text>span {
    color: #f48915;
    font-weight: bold;
    font-size: 1.3rem;
    display: flex;
    justify-content: start;
}

.about-text>h2 {
    margin-bottom: 1rem;
    text-align: left;
}

.about-text>p {
    margin-bottom: 1rem;
    text-align: left;
}

.about-text>ul>li {
    margin-bottom: 1rem;
    text-align: left;
}

@media screen and (max-width:740px) {
    .about {
        padding: 0 1rem;
        max-width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        margin: 4rem auto;
        gap: 1rem;

    }

}