.about-us{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6rem auto;
}
.about-us-container{
    max-width: 1140px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
}
.about-us-image {
    width: 100%;
    height: 100%;
}
.parent-image{
    position: relative;
    width: 25rem;
    height: 25rem;
}
.steaming-iron{
width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.clothes-on-chair{
    position: absolute;
    top: 30rem;
    left: 29%;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
   /* object-fit: cover; */
}
.about-us-text span{
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    color: grey;
    font-weight: bold;
}
.about-us-text h2{
    color: #c71585;
 font-size: 2.5rem;
 margin: 1rem 0;
}
.reasons{
    margin: 1rem 0;
}
.reasons li{
    margin: 0.5rem 0;
    text-transform: capitalize;
}


@media screen and (max-width:780px) {
    .about-us-container{
    max-width: 90%;
    display: grid;
    grid-template-columns: 1fr;
        padding: 2rem 0;
}
.about-us-image{
display: flex;
    justify-content: center;
    align-items: center;
}
.parent-image{ 
    width: 24rem;
    height: 24rem;
}
.clothes-on-chair{
    position: absolute;
    top: 30rem;
    left: 55%;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}
.about-us-text{
    text-align: center;
}
.about-us-text span{  
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    color: grey;
    font-weight: bold;
}
.about-us-text h2{
    color: #c71585;
 font-size: 2.1rem;
 text-align: center;
 margin: 1rem 0;
}
.about-us-text p{
 text-align: justify;
 margin: 1rem 0;
}
.reasons {
    text-align: left;
}
}
