.hero-content{
z-index: -1;
width: 100%;
height: 90vh;
}
.hero-img{
width: 100%;
height: 100%;
object-fit: cover;
position: relative;
}
.hero-img::after{
   content: "";
   top: 0;
   left: 0;
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: black;
   opacity: 0.68;
   z-index: 0;
}
.hero-img img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.hero-text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50% ,-50%);
    z-index: 1;
}
.hero-text p{
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
.hero-text h2{
    color: #c71585;
    font-size: 2.6rem;
    text-transform: uppercase;
    margin: 1rem 0 2.2rem 0; 
}
.hero-text .btn{
    margin: 2rem 0;
    font-style: 1rem;   
}
 
.bubble-img{
    position: absolute;
    top: 62%;
    width: 100%;
}
.bubble-img img{
  display: flex;
  justify-content: center;
  object-fit: cover;
  width: 100%;
  height: 37vh;
}


@media screen and (max-width:860px) {
    
  .hero-text h2{
    color: #c71585;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 0.5rem 0 2rem 0; 
}
.hero-text .btn{
    font-style: 1rem;  
}
}